* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helevetica neue';
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 244, 238);
}
button{
 padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-size: 15px;
}
h1{
 padding: 10px 80px;
  margin: 20px;
  background-color: rgb(156, 126, 126);
  width: fit-content;
  font-size: 80px;
  border-radius: 5px;
}
